*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Comic Sans MS, Comic Sans MS5, cursive;	
}

h1{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 60px;
}

#box1, #box2, #box3{
	margin-left: 2.5%;
	margin-right: 2.5%;
	background-color: #A9A9A9;
	width: 25%;

	border-color: black;
	border-style: solid;
	border-width: 3px;
	float: left;
}

#box1{
	margin-left: 7.4%
}

#title1, #title2, #title3{
	margin-left: 67%;
	margin-right: 0%;
	text-align: center;
	width: 33%;
	border-style: solid;
	border-color: black;
	border-right: 3px;
	border-top: 3px;
	font-weight: bold;	
}

#content1, #content2, #content3{
	padding: 10px;
}

#title1{
	background-color: #F69F9F;
}

#title2{
	background-color: #CD2418;
	color: white;
}

#title3{
	background-color: #FCDB82;
}